<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='public/stylesheets/style.css' type="text/css">
  </head>
  <body>
    <header><h2>POSシステム（定食メニュー）</h2></header>
    <section class="container">
      <form method="POST" action="./save_teishoku">
        <div class="menu">
          <p>メニュー</p>
          <label><input type="radio" name="menu" value="焼肉定食">焼肉定食
          <label><input type="radio" name="menu" value="牛タン">牛タン
          <label><input type="radio" name="menu" value="ハラミ">ハラミ
          <label><input type="radio" name="menu" value="カルビ">カルビ
          <label><input type="radio" name="menu" value="ロース">ロース
          <label><input type="radio" name="menu" value="ホルモン">ホルモン
          <label><input type="radio" name="menu" value="ユッケ">ユッケ
        </div>
        <div class="sex">
          <p>男女</p>
          <label><input type="radio" name="sex" value=”女性”>女性
            <label><input type="radio" name="sex" value="男性">男性
          <label><input type="radio" name="sex" value="その他">その他
        </div>
        <div class="ages">
          <p>年代</p>
          <label><input type="radio" name="ages" value="~20代">〜20代
          <label><input type="radio" name="ages" value="30代">30代
          <label><input type="radio" name="ages" value="40代">40代
          <label><input type="radio" name="ages" value="50代">50代
          <label><input type="radio" name="ages" value="60代">60代
          <label><input type="radio" name="ages" value="〜80代">〜80代
        </div>
      </section>
      <input class="decorated-btn click-down" type="submit" value="送信">
      </form>
  <script src=app.js ></script>
  </body>
</html>
